@model School.Web.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Confirm E-mail";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Confirm E-mail</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Confirm E-mail</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <form asp-action="ChangePassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-md-3 wow fadeInUp" data-wow-delay="500ms"></div>
                        <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                            <br />
                            <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:550px; text-align:center;">
                                <h5>
                                    Thank you for confirming your E-Mail.
                                </h5>
                                <br />
                                <h6>
                                    Please, change your Password! <br /><br />
                                </h6>
                                <label asp-for="OldPassword" class="form-label"><b>Old Password:</b></label>
                                <input asp-for="OldPassword" type="password" class="form-control" id="name" placeholder="Old Password">
                                <label asp-for="NewPassword" class="form-label"><b>New Password:</b></label>
                                <input asp-for="NewPassword" type="password" class="form-control" id="name" placeholder="New Password">
                                <label asp-for="Confirm" class="form-label"><b>Confirm Password:</b></label>
                                <input type="password" class="form-control" id="name" placeholder="Confirm Password">
                                @*<button asp-action="ChangePassword" class="btn academy-btn mt-30" type="submit" style="margin-left:25%">Update</button>*@
                            </div>
                        </div>
                        <!-- ##### About Us Area End ##### -->
                        <button asp-action="ChangePassword" class="btn academy-btn mt-30" style="margin-left:40%">Change Password</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>
