@model School.Web.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Recover Password</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Recover Password</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <form asp-action="RecoverPassword" asp-controller="Accounts" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" style="text-align:center" class="text-danger"></div>
                    <div style="text-align:center;">@ViewBag.Message</div>
                    <div style="height:3px;"><h6></h6></div>
                    <div class="row">
                        <div class="col-12 col-md-3 wow fadeInUp" data-wow-delay="500ms"></div>
                        <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                            <br />
                            <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:180px;">
                                <label class="form-label"><b>E-mail:</b></label>
                                <input asp-for="Email" type="email" class="form-control" id="email" placeholder="E-mail">
                            </div>
                        </div>
                        <!-- ##### About Us Area End ##### -->
                        <button asp-action="RecoverPassword" class="btn academy-btn mt-30" style="margin-left:32%">Recover</button>
                        <a asp-action="Login" class="btn academy-btn mt-30" style="margin-left:5%">Back to Login</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>