@model IEnumerable<School.Web.Data.Entities.User>

@{
    ViewData["Title"] = "Settings";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Users</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Users</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                    <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:350px;">
                        <ejs-grid id="Grid" dataSource="@Model" height="200px" allowSorting="true" allowFiltering="true" allowPaging="true">
                            <e-grid-filterSettings type="Menu"></e-grid-filterSettings>
                            <e-grid-columns>
                                <e-grid-column field="Id" headerText="Id" visible="false" textAlign="Right" allowEditing="true" width="auto" type="number" isPrimaryKey="true"></e-grid-column>
                                <e-grid-column field="FirstName" headerText="FirstName" allowEditing="true" width="150" type="string"></e-grid-column>
                                <e-grid-column field="Username" headerText="Username" allowEditing="true" width="150" type="string"></e-grid-column>
                                <e-grid-column field="Email" headerText="Email" allowEditing="true" width="150" type="string"></e-grid-column>
                            </e-grid-columns>
                        </ejs-grid>
                    </div>
                    <!-- ##### About Us Area End ##### -->
                    <a asp-action="Index" class="btn academy-btn mt-30" style="margin-left:40%">Back</a>
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
