@{
    ViewData["Title"] = "About";
}


<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>About</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    @*<span>The Best</span>*@
                    <h3>Project made by:</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                    <div class="row">
                        <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms" style="text-align:center">
                            <br /><br /><br />
                            <h4>Project made by:</h4>
                            <br />
                            <h6>Maria Isabel Frazão</h6> <br />
                            <p style="font-size:16px;">
                                CET45 <br /><br />
                                CINEL 2020
                            </p>
                        </div>
                        <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                            <img src="~/images/CINEL-logo2.jpg" height="300" width="300" />
                        </div>
                    </div>
                </div>
                <a asp-action="Index" class="btn academy-btn mt-30" style="margin-left:42.5%">Back</a>
            </div>
        </section>
    </div>
</section>
