@model School.Web.Models.CourseViewModel

@{
    ViewData["Title"] = "Delete";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Delete Course</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Delete Course</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <h2 style="text-align:center">Are you sure you want to Delete this?</h2>
                <br />
                <div class="row">
                    <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                        <!--BANNER START-->
                        <div class="panel single-accordion">
                            <h6>
                                <a class="collapsed" style="text-align:center;">
                                    General Information
                                </a>
                            </h6>
                        </div>
                        <!--BANNER END-->
                        <br />
                        <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:850px;">
                            <form action="#" method="post" style="height:850px;">
                                <label class="form-label"><b>Course:</b></label>
                                <div style="height:48px;">
                                    <label class="form-label">TPSI</label> @Html.DisplayFor(model => model.Name)<br />
                                </div>
                                <label class="form-label"><b>Name:</b></label>
                                <div style="height:48px;">
                                    <label class="form-label">TPSI</label> @Html.DisplayFor(model => model.Name)<br />
                                </div>
                                <label class="form-label"><b>Schedule:</b></label>
                                <div style="height:48px;">
                                    <label class="form-label">TPSI</label> @Html.DisplayFor(model => model.Name)<br />
                                </div>
                                <label class="form-label"><b>Classroom:</b></label>
                                <div style="height:48px;">
                                    <label class="form-label">TPSI</label> @Html.DisplayFor(model => model.Name)<br />
                                </div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                        <label class="form-label"><b>Subjects:</b></label>
                                        <!--<ejs-listview enable="true" id="subjectschecklistview" showCheckBox="true">
                                        </ejs-listview>-->
                                        @*dataSource="ViewBag.dataSource"*@
                                        <ejs-listbox id="subjects-select-listbox">
                                            <e-listbox-selectionsettings showCheckbox="true"></e-listbox-selectionsettings>
                                        </ejs-listbox> @*dataSource="ViewBag.data"*@
                                        <br />
                                        <label class="form-label"><b>Total:</b></label>
                                        <label class="form-label">2</label>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label"><b>Teachers:</b></label>
                                        <!--<ejs-listview enable="true" id="teacherschecklistview" showCheckBox="true">
                                        </ejs-listview>-->
                                        @*dataSource="ViewBag.dataSource"*@
                                        <ejs-listbox id="teachers-select-listbox">
                                            <e-listbox-selectionsettings showCheckbox="true"></e-listbox-selectionsettings>
                                        </ejs-listbox> @*dataSource="ViewBag.data"*@
                                        <br />
                                        <label class="form-label"><b>Total:</b></label>
                                        <label class="form-label">2</label>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label"><b>Students:</b></label>
                                        <!--<ejs-listview enable="true" id="studentschecklistview" showCheckBox="true">
                                        </ejs-listview>-->
                                        @*dataSource="ViewBag.dataSource"*@
                                        <ejs-listbox id="students-select-listbox">
                                            <e-listbox-selectionsettings showCheckbox="true"></e-listbox-selectionsettings>
                                        </ejs-listbox> @*dataSource="ViewBag.data"*@
                                        <br />
                                        <label class="form-label"><b>Total:</b></label>
                                        <label class="form-label">2</label>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ##### About Us Area End ##### -->
                    <button class="btn academy-btn mt-30" type="submit" style="margin-left:30%">Delete</button>
                    <a asp-action="Index" class="btn academy-btn mt-30" style="margin-left:5%">Back</a>
                </div>
            </div>
        </section>
    </div>
</section>