@model School.Web.Models.CourseViewModel
@{
    ViewData["Title"] = "Edit";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Edit Course</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Edit Course</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <form asp-action="Edit" method="post" enctype="multipart/form-data" onsubmit="validation()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                            <!--BANNER START-->
                            <div class="panel single-accordion">
                                <h6>
                                    <a class="collapsed" style="text-align:center;">
                                        General Information
                                    </a>
                                </h6>
                            </div>
                            <!--BANNER END-->
                            <br />
                            <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:650px;">
                                <label class="form-label"><b>Area:</b></label>
                                <label id="fieldValidator" class="text-danger"></label>
                                <ejs-dropdownlist id="areas" ejs-for="FieldId" dataSource="Model.Fields" cssClass="e-filled" placeholder="@Model.Field" popupHeight="230px" change="valueChange">
                                    <e-dropdownlist-fields text="Area" value="Id"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                                <label asp-for="Name" class="form-label"><b><br />Name:</b></label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Name">
                                <label asp-for="Description" class="form-label"><b>Description:</b></label>
                                <span asp-validation-for="Description" class="text-danger"></span>
                                <input asp-for="Description" type="text" class="form-control" id="description" placeholder="Description">
                                <label class="form-label"><b>Coordinator:</b></label>
                                <label id="coordinatorValidator" class="text-danger"></label>
                                <ejs-dropdownlist id="coordinator" ejs-for="CoordinatorId" dataSource="Model.Teachers" cssClass="e-filled" placeholder="@Model.Coordinator" popupHeight="230px" change="valueChange">
                                    <e-dropdownlist-fields text="FullName" value="Id"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                                @{
                                    var minDate = DateTime.Now.Date;
                                    var defaultDate = DateTime.Now.Date;
                                }
                                <div style="height:48px;"></div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-4">
                                        <label asp-for="BeginDate" class="form-label"><b>Begin Date:</b></label>
                                        <span asp-validation-for="BeginDate" class="text-danger"></span>
                                        <ejs-datetimepicker ejs-for="BeginDate" id="begindate" value="Model.BeginDate" min="@minDate" format="yyyy-MM-dd" cssClass="e-filled" change="onchange"></ejs-datetimepicker>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <label asp-for="EndDate" class="form-label"><b>End Date:</b></label>
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                        <ejs-datetimepicker ejs-for="EndDate" id="enddate" format="yyyy-MM-dd" value="Model.EndDate" min="@minDate" cssClass="e-filled"></ejs-datetimepicker>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                            <!-- ##### About Us Area End ##### -->
                            <input asp-action="Edit" class="btn academy-btn mt-30" type="submit" value="Edit" style="margin-left:30%" />
                            <a asp-action="Index" class="btn academy-btn mt-30" style="margin-left:5%">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    function validation() {
        var field = document.getElementById('fields').ej2_instances[0];
        var fieldValidator = document.getElementById('fieldValidator');

        var coordinator = document.getElementById('coordinator').ej2_instances[0];
        var coordinatorValidator = document.getElementById('coordinatorValidator');

        if (field.properties.value == 0) {
            //alert("Must Select a Coordinator");
            fieldValidator.innerText = "Field Area is mandatory";
            event.preventDefault();
        }
        if (coordinator.properties.value == 0) {
            //alert("Must Select a Coordinator");
            coordinatorValidator.innerText = "Field Coordinator is mandatory";
            event.preventDefault();
        }
    }
</script>

<style>
    #begindate {
        height: 54px;
    }

    #enddate {
        height: 54px;
    }
</style>

<script type="text/javascript">
    function onchange(args) {
        var end = document.getElementById('enddate').ej2_instances[0];

        end.properties['min'] = args.value;

        end.value = args.value;
    }
</script>