@model School.Web.Models.ClassViewModel

@{
    ViewData["Title"] = "Create";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Create Class</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Create Class</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                            <!--BANNER START-->
                            <div class="panel single-accordion">
                                <h6>
                                    <a class="collapsed" style="text-align:center;">
                                        General Information
                                    </a>
                                </h6>
                            </div>
                            <!--BANNER END-->
                            <br />
                            <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="height:450px;">
                                <label class="form-label"><b>Course:</b></label>
                                <span asp-validation-for="Course" class="text-danger"></span>
                                <ejs-dropdownlist id="courses" ejs-for="CourseId" dataSource="Model.Courses" cssClass="e-filled" placeholder="Select a Course" popupHeight="230px" change="valueChange">
                                    <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                                <label asp-for="Name" class="form-label"><b><br />Name:</b></label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Name">
                                <label asp-for="ScheduleId" class="form-label"><b>Schedule:</b></label>
                                <span asp-validation-for="ScheduleId" class="text-danger"></span>
                                <ejs-dropdownlist id="schedules" ejs-for="ScheduleId" dataSource="Model.Schedules" cssClass="e-filled" placeholder="Select a Schedule" popupHeight="230px" change="valueChange">
                                    <e-dropdownlist-fields text="Shift" value="Id"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                                <label asp-for="ClassroomId" class="form-label"><b><br />Classroom:</b></label>
                                <span asp-validation-for="ClassroomId" class="text-danger"></span>
                                <ejs-dropdownlist id="classrooms" ejs-for="ClassroomId" dataSource="Model.Classrooms" cssClass="e-filled" placeholder="Select a Classroom" popupHeight="230px" change="valueChange">
                                    <e-dropdownlist-fields text="Room" value="Id"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                        </div>
                        <!-- ##### About Us Area End ##### -->
                        <input asp-action="Create" class="btn academy-btn mt-30" type="submit" value="Create" style="margin-left:30%" />
                        <a asp-action="Index" class="btn academy-btn mt-30" style="margin-left:5%">Back</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}