@model IEnumerable<School.Web.Data.Entities.Class>

@{
    ViewData["Title"] = "Home";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Search Class</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Search Class</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                    <a asp-action="Create" class="btn academy-btn mt-30" style="margin-left:40%">Create New</a>
                    <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                        <h6><br /></h6>
                    </div>
                </div>
                <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">                   
                    <ejs-grid id="Grid" dataSource="Model" allowSorting="true" allowFiltering="true" allowPaging="true">
                        <e-grid-filterSettings type="Menu"></e-grid-filterSettings>
                        <e-grid-columns>
                            <e-grid-column field="Id" headerText="Id" visible="false" width="auto" type="number" isPrimaryKey="true"></e-grid-column>
                            <e-grid-column field="Course.Name" headerText="Course" width="auto" type="string"></e-grid-column>
                            <e-grid-column field="Name" headerText="Name" width="auto" type="string"></e-grid-column>
                            <e-grid-column field="Schedule.Shift" headerText="Schedule" width="auto" type="string"></e-grid-column>
                            <e-grid-column field="Classroom.Room" headerText="Classroom" width="auto" type="string"></e-grid-column>                            
                            <e-grid-column template="#template" textAlign="Right" width="auto"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                </div>
            </div>
        </section>
    </div>
</section>

<script id="template" type="text/x-template">
    <div>
        <a href='/Classes/Edit/${Id}'>Edit</a> |
        <a href='/Classes/Details/${Id}'>Details</a> |
        <a href='/Classes/Delete/${Id}'>Delete</a>
    </div>
</script>