@model School.Web.Models.SubjectViewModel

@{
    ViewData["Title"] = "Create";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Create Subject</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Create Subject</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                            <!--BANNER START-->
                            <div class="panel single-accordion">
                                <h6>
                                    <a class="collapsed" style="text-align:center;">
                                        General Information
                                    </a>
                                </h6>
                            </div>
                            <!--BANNER END-->
                            <br />
                            <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                                <label asp-for="Code" class="form-label"><b>Code:</b></label>
                                <input asp-for="Code" type="text" class="form-control" id="code" readonly="readonly">
                                <label asp-for="Name" class="form-label"><b>Name:</b></label>
                                <input asp-for="Name" type="text" class="form-control" id="name" readonly="readonly">
                                <label asp-for="Field" class="form-label"><b>Field:</b></label>
                                <input asp-for="Field" type="text" class="form-control" id="field" readonly="readonly">
                                <label asp-for="CourseId" class="form-label"><b>Course:</b></label>
                                <span asp-validation-for="CourseId" class="text-danger"></span>
                                <ejs-dropdownlist id="courses" ejs-for="CourseId" dataSource="Model.Courses" cssClass="e-filled" placeholder="Select a Course" index="2" popupHeight="230px" change="valueChange">
                                    <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                                <label asp-for="TeacherId" class="form-label"><b>Teacher:</b></label>
                                <span asp-validation-for="TeacherId" class="text-danger"></span>
                                <ejs-dropdownlist id="teachers" ejs-for="TeacherId" dataSource="Model.Teachers" cssClass="e-filled" placeholder="Select a Teacher" index="2" popupHeight="230px" change="valueChange">
                                    <e-dropdownlist-fields text="FullName" value="Id"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                        </div>
                        <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                            <h6><br /></h6>
                        </div>
                        <div class="col-12 wow fadeInUp" data-wow-delay="500ms">
                            <!--BANNER START-->
                            <div class="panel single-accordion">
                                <h6>
                                    <a class="collapsed" style="text-align:center;">
                                        Detailed Information
                                    </a>
                                </h6>
                            </div>
                            <!--BANNER END-->
                            <br />
                            <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                                <br />
                                <label asp-for="Duration" class="form-label"><b>Duration:</b></label>
                                <input asp-for="Duration" type="text" class="form-control" id="duration" readonly="readonly">
                                <label asp-for="Credits" class="form-label"><b>Credits:</b></label>
                                <span asp-validation-for="Credits" class="text-danger"></span>
                                <input asp-for="Credits" type="text" class="form-control" id="credits" placeholder="Credits">
                                <label asp-for="QNQLevel" class="form-label"><b>QNQLevel:</b></label>
                                <input asp-for="QNQLevel" type="text" class="form-control" id="qnqlevel" readonly="readonly">
                                <label asp-for="Component" class="form-label"><b>Component:</b></label>
                                <input asp-for="Component" type="text" class="form-control" id="component" readonly="readonly">
                            </div>
                        </div>
                        <!-- ##### About Us Area End ##### -->
                        <input asp-action="Create" class="btn academy-btn mt-30" type="submit" value="Create" style="margin-left:30%" />
                        <a asp-action="Index" class="btn academy-btn mt-30" style="margin-left:5%">Back</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>