@model School.Web.Models.SubjectViewModel

@{
    ViewData["Title"] = "Create";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(../../img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Create Subject</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <h3>Create Subject</h3>
                </div>
            </div>
        </div>
        <section class="contact-area">
            <div class="contact-content">
                <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                    <ejs-grid id="Grid" dataSource="@Model.IEFPSubjects" allowSorting="true" allowFiltering="true" allowPaging="true">
                        <e-grid-filterSettings type="Menu"></e-grid-filterSettings>
                        <e-grid-columns>
                            <e-grid-column field="Id" headerText="Id" visible="false" textAlign="Right" width="auto" type="number" isPrimaryKey="true"></e-grid-column>
                            <e-grid-column field="Code" headerText="Code" width="auto" type="string"></e-grid-column>
                            <e-grid-column field="Name" headerText="Name" width="auto" type="string"></e-grid-column>
                            <e-grid-column field="Field" headerText="Field" width="auto" type="string"></e-grid-column>
                            <e-grid-column template="#template" textAlign="Right" width="auto"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                </div>
                <!-- ##### About Us Area End ##### -->
                <a asp-action="Upload" class="btn academy-btn mt-30" style="margin-left:33%">Upload Subjects</a>
                <a asp-action="Index" class="btn academy-btn mt-30" style="margin-left:3%">Back</a>
            </div>
        </section>
    </div>
</section>

<script id="template" type="text/x-template">
    <div>
        <a href='/Subjects/Create/${Id}'>Create</a>
    </div>
</script>
