<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Academy - Education Course Template</title>

    <!-- Favicon -->
    <link rel="icon" href="../img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../style.css" type="text/css">

    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

</head>
<body>
    <partial name="_CookieConsentPartial" />

    @*##### Preloader #####*@
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    @*##### Header Area Start #####*@
    <header class="header-area">

        @*Top Header Area*@
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="index.html"><img src="../img/core-img/logo.png" alt=""></a>
                            </div>
                            <div class="login-content">
                                <a href="#">Register / Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Navbar Area*@
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    @*Menu*@
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        @*Navbar Toggler*@
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        @*Menu*@
                        <div class="classy-menu">

                            @*close btn*@
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            @*Nav Start*@
                            <div class="classynav">
                                <ul>                                    
                                    <li>
                                        <a href="#">Courses</a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="Courses" asp-action="Index">Search</a></li>
                                            <li><a asp-controller="Courses" asp-action="Create">Create</a></li>
                                            <li><a asp-controller="Courses" asp-action="Details">Details</a></li>
                                            <li><a asp-controller="Courses" asp-action="Edit">Edit</a></li>
                                            <li><a asp-controller="Courses" asp-action="Delete">Delete</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Classes</a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="Classes" asp-action="Index">Search</a></li>
                                            <li><a asp-controller="Classes" asp-action="Create">Create</a></li>
                                            <li><a asp-controller="Classes" asp-action="Details">Details</a></li>
                                            <li><a asp-controller="Classes" asp-action="Edit">Edit</a></li>
                                            <li><a asp-controller="Classes" asp-action="Delete">Delete</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Subjects</a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="Subjects" asp-action="Index">Search</a></li>
                                            <li><a asp-controller="Subjects" asp-action="Create">Create</a></li>
                                            <li><a asp-controller="Subjects" asp-action="Details">Details</a></li>
                                            <li><a asp-controller="Subjects" asp-action="Edit">Edit</a></li>
                                            <li><a asp-controller="Subjects" asp-action="Delete">Delete</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Teachers</a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="Teachers" asp-action="Index">Search</a></li>
                                            <li><a asp-controller="Teachers" asp-action="Create">Create</a></li>
                                            <li><a asp-controller="Teachers" asp-action="Details">Details</a></li>
                                            <li><a asp-controller="Teachers" asp-action="Edit">Edit</a></li>
                                            <li><a asp-controller="Teachers" asp-action="Delete">Delete</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Students</a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="Students" asp-action="Index">Search</a></li>
                                            <li><a asp-controller="Students" asp-action="Create">Create</a></li>
                                            <li><a asp-controller="Students" asp-action="Details">Details</a></li>
                                            <li><a asp-controller="Students" asp-action="Edit">Edit</a></li>
                                            <li><a asp-controller="Students" asp-action="Delete">Delete</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Grades</a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="Grades" asp-action="Index">Search</a></li>
                                            <li><a asp-controller="Grades" asp-action="Create">Create</a></li>
                                            <li><a asp-controller="Grades" asp-action="Details">Details</a></li>
                                            <li><a asp-controller="Grades" asp-action="Edit">Edit</a></li>
                                            <li><a asp-controller="Grades" asp-action="Delete">Delete</a></li>
                                        </ul>
                                    </li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                </ul>
                            </div>
                            @*Nav End*@
                        </div>
                        @*Calling Info*@
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="tel:+654563325568889"><i class="icon-telephone-2"></i> <span>(+65) 456 332 5568 889</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    @RenderBody()

    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../js/active.js"></script>

    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    @RenderSection("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>