<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Academy - Education Course Template</title>

    <!-- Favicon -->
    <link rel="icon" href="~/img/core-img/favicon.ico">

    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/style.css" type="text/css">

    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

    <!-- Sync Stylesheet -->
    <link rel="stylesheet" href="~/sync.css" type="text/css">

    <!-- DataTables Stylesheet -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

</head>
<body>
    <partial name="_CookieConsentPartial" />

    @*##### Preloader #####*@
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    @*##### Header Area Start #####*@
    <header class="header-area">

        @*Top Header Area*@
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="index.html"><img src="../img/core-img/logo.png" alt=""></a>
                            </div>
                            <div class="login-content">
                                <a href="#">Register / Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Navbar Area*@
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    @*Menu*@
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        @*Navbar Toggler*@
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        @*Menu*@
                        <div class="classy-menu">

                            @*close btn*@
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            @*Nav Start*@
                            <div class="classynav" style="justify-content:center; font-size:20px;">
                                <div class="row" style="justify-content:center">
                                    <div>
                                        <a asp-area="" asp-controller="Home" asp-action="Index"><b>HOME</b></a>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-2">
                                        <a asp-area="" asp-controller="Home" asp-action="About"><b>ABOUT</b></a>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-2">
                                        <a asp-area="" asp-controller="Home" asp-action="Contact"><b>CONTACT</b></a>
                                    </div>
                                </div>
                            </div>
                            <div class="classynav" style="justify-content:center;">
                                <div class="row" style="justify-content:center;">
                                    <div class="col-md-1">
                                        <a asp-controller="Courses" asp-action="Index"><b>COURSES</b></a>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1">
                                        <a asp-controller="Classes" asp-action="Index"><b>CLASSES</b></a>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1">
                                        <a asp-controller="Subjects" asp-action="Index"><b>SUBJECTS</b></a>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1">
                                        <a asp-controller="Teachers" asp-action="Index"><b>TEACHERS</b></a>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1">
                                        <a asp-controller="Students" asp-action="Index"><b>STUDENTS</b></a>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1">
                                        <a asp-controller="Grades" asp-action="Index"><b>GRADES</b></a>
                                    </div>
                                </div>
                            </div>
                            @*Nav End*@
                        </div>
                        @*Calling Info*@
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="tel:+654563325568889"><i class="icon-telephone-2"></i> <span>(+65) 456 332 5568 889</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    @RenderBody()

    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>
    <!-- Sync js -->
    <script src="~/js/sync.js"></script>

    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>

    @RenderSection("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>

<!--DROPDWON MENU-->
@*<ul>
        <li>
            <a href="#">Back Office</a>
            <ul class="dropdown">
                <li><a asp-controller="Courses" asp-action="Index">Courses</a></li>
                <li><a asp-controller="Classes" asp-action="Index">Classes</a></li>
                <li><a asp-controller="Subjects" asp-action="Index">Subjects</a></li>
                <li><a asp-controller="Teachers" asp-action="Index">Teachers</a></li>
                <li><a asp-controller="Students" asp-action="Index">Students</a></li>
                <li><a asp-controller="Grades" asp-action="Index">Grades</a></li>
            </ul>
        </li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
    </ul>*@